
#container {
  margin-top: 15px;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: whitesmoke;
  border: 3px solid black;
}
#box1 {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: black;
  border: 1px solid white;
  border: 1px solid black;
}
#box2 {
  width: 50px;
  height: 50px;
  left: 348px;
  position: absolute;
  background-color: black;
  border: 1px solid white;
  border: 1px solid black;
  color: black;
}
#pedido{
width: 20px;
  height: 20px;
    margin-top: 15px;
  left: 840px;
  position: absolute;
  background-color: black;
  border: 1px solid white;
  border: 1px solid black;
  color: black;
}